BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CNT_CMD" SITE "54" ;
LOCATE COMP "CLK" SITE "52" ;
LOCATE COMP "RST" SITE "55" ;
LOCATE COMP "CNT_C" SITE "37" ;
LOCATE COMP "CNT_O[0]" SITE "38" ;
LOCATE COMP "CNT_O[1]" SITE "39" ;
LOCATE COMP "CNT_O[2]" SITE "40" ;
LOCATE COMP "CNT_O[3]" SITE "43" ;
IOBUF PORT "CNT_CMD" PULLMODE=UP IO_TYPE=LVCMOS25 ;
IOBUF PORT "CNT_C" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "CNT_O[0]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "CNT_O[1]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "CNT_O[2]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
IOBUF PORT "CNT_O[3]" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
