BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "A0" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "Rst" SITE "50" ;
LOCATE COMP "Clk" SITE "52" ;
LOCATE COMP "A0" SITE "56" ;
LOCATE COMP "A1" SITE "55" ;
LOCATE COMP "Q0" SITE "37" ;
LOCATE COMP "Q1" SITE "38" ;
LOCATE COMP "Q2" SITE "39" ;
LOCATE COMP "Q3" SITE "40" ;
LOCATE COMP "Q4" SITE "43" ;
LOCATE COMP "Q5" SITE "44" ;
LOCATE COMP "Q6" SITE "45" ;
LOCATE COMP "DL" SITE "53" ;
LOCATE COMP "DR" SITE "54" ;
