.text {
  font-size: 100px;
  color: white;
}

.center-text {
  position: absolute;
  color: #fff;
  top: 20%;
  left: 45%;
}

.center-content {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 1000px; /* Set the desired width */
  height: auto; 
}

